<!DOCTYPE>
<html>
    <head>
        <title>Not found</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>404</h1>
        <p>No such file or directory</p>
    </body>
</html>

