<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Hello world</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed faucibus pretium nulla, sed vulputate elit ultricies eu. Sed finibus libero mi, at luctus ligula tempus et. Vivamus et diam suscipit erat sollicitudin faucibus quis id purus. Donec suscipit mi magna, dapibus posuere tellus tincidunt at. Vivamus eget congue nisl, vitae vulputate sapien. Donec ornare ipsum eget metus luctus cursus. Nam hendrerit efficitur magna, a imperdiet tortor varius vel. Phasellus massa nisl, ultrices sit amet odio sit amet, vestibulum tincidunt erat. Etiam eu odio ut lacus efficitur porttitor in id diam. Maecenas varius lectus non libero pulvinar, eget pulvinar leo tempor. Ut sit amet dui sit amet justo pellentesque euismod. Ut ligula libero, vestibulum ac lacus id, cursus mollis neque. Nulla consectetur gravida eros at pellentesque. Mauris varius finibus volutpat.
        </p>
        <p>
        Nullam hendrerit egestas quam, sit amet rutrum nibh. Maecenas ac purus eget nisl egestas tincidunt. Quisque porta, eros a pellentesque tincidunt, odio nunc convallis lorem, quis iaculis urna tortor id tellus. Nunc sed sapien risus. Maecenas molestie mattis risus eu efficitur. Sed risus diam, interdum quis lorem sed, varius tempor sem. Proin tellus arcu, rhoncus ac scelerisque laoreet, cursus ultricies augue. Sed convallis ultrices purus et pulvinar.
        </p>
    </body>
</html>

