<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('nav', {}) %>

        <main>
        <%- content %>
        </main>
    </body>
</html>

